#bloco {
    align-self: center;
    background-color: red;
    border-radius: 5%;
    align-items: center;
    align-content: center;
    text-align: center;
    width: fit-content;
}

#teste {
    color: black;
}

body {
    font-family: Arial, sans-serif;
    transition: background 0.3s, color 0.3s;
    margin: 0;
    padding: 20px;
}

body.light {
    background: #ffffff;
    color: #000000;
}

body.dark {
    background: #1e1e1e;
    color: #ffffff;
}

.toggle-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

.light .toggle-btn {
    background: #000;
    color: #fff;
}

.dark .toggle-btn {
    background: #fff;
    color: #000;
}
